body {
    margin: 0px;

}
header {
    display: flex;
    justify-content: center;
    background: rgba(229, 84, 115, 0.10);
    max-width: 1920px;
    max-height: 850px;
    width: 100%;
    align-items: center;
    
}
.header-title-info-container {
    margin: 50px 40px 40px 60px;
    padding: 100px;
    display: block;
}
.section-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
}
.section-descriptin {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 6px;
    background: #E55473;
    padding: 12px 20px;
    border: none;
}
.greeting-photo {
    width: 620px;
    height: 750px;

}
/* Main section style complete  */
/* Now style: title shape  */
.title-shape-container {
    text-align: center;
}
.shape-creating-container {
    display: flex;
    gap: 15px;
    background: #FFF;
    max-width: 1820px;
    max-height: 3067px;
    margin: 40px 100px;
}
.shape-1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    background-image: url("Flower Asset/pngwing\ 6.png");
    background-repeat: no-repeat;
    background-position: center;

}
.shape-2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-image: url("Flower Asset/pngwing\ 5.png");
    background-repeat: no-repeat;
    background-position: center;

}
.shape-3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    background-image: url("Flower Asset/pngwing\ 7.png");
    background-repeat: no-repeat;
    background-position: center;

}
.title {
    text-align: center;
    text-decoration: underline;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
}

/* Title shape container section complete  */
/* now create bonus section or latest product section  */
/* Create bonus section style here  */
.latest-product-section {
    max-width: 1910px;
    max-height: 1520px;
    width: 90%;
    display: block;
    text-align: center;
}
.product-item-container-1, .product-item-container-2 {
    display: flex;
    justify-content: space-around;
}
.bonus-section img {
    width: 342px;
    height: 396px;
}
.product-title-header {
    text-align: center;
}
.product-title {
    background: rgba(5, 151, 160, 0.10);
    padding: auto;
}.img-title {
    text-decoration: none;
}
/* The latest Product section style complete  */
/* sign up section created now  */
.sign-up-section-container {
    max-width: 1920px;
    max-height: 610px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    /* padding-top: 80px; */

}
.sign-title-details-btn {
    text-align: center;
    margin: 0px 15px;
    /* padding: 20px; */
    padding-top: 25px;
    margin-bottom: 10px;
}
.sign-up-title {
    color: #272727;
    /* font-family: Lato; */
    font-size: 40px;
    /* font-style: normal; */
    font-weight: 800;
    /* line-height: normal; */
}
/* Hot dile section style complete  */
.insta-section-container {
    text-align: center;
    background: #FFF;
    max-width: 1910px;
    max-height: 3066px;
    margin: 126px 230px;
}
.photo-container {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}
.flex-photo {
    width: 342px;
    height: 396px;
}

/* now style contact and footer section  */

.contact-section {
    /* margin: 128px 220px;
    /* margin-right: 220px; */ */
    /* max-width: 1910px;
    max-height: 3066px; */
    width: 1910px;
    height: 440px;
    border-radius: 8px;
    width: 90%;
    margin: auto;
    background-image: url("./Flower Asset/Rectangle\ 9.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 120px;
}
.contact-form input[type="email"] {
    display: inline;
    /* margin-bottom: 25px; */
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 40%;
}
.section-footer {
    max-width: 1920px;
    height: 220px;
    width: 100%;
    background: #111010;
    padding: 140px 0px;
    /* padding: 127px 640px; */
    text-align: center;
}
.footer-title-1 {
    color: #E55473;
}
.footer-title-2{
    color: #FFF;
}
.footer-p {
    color: rgba(255, 255, 255, 0.90);
}
.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    /* font-family: Lato; */
    font-size: 16px;
    /* font-style: normal; */
    font-weight: 400;
    /* line-height: normal; */
}